body{
    background: rgba(40,173,230,1);
    background: -moz-linear-gradient(top, rgba(40,173,230,1) 40%, rgba(40,173,230,1) 41%, rgba(82,196,235,1) 93%, rgba(82,196,235,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(40%, rgba(40,173,230,1)), color-stop(41%, rgba(40,173,230,1)), color-stop(93%, rgba(82,196,235,1)), color-stop(100%, rgba(82,196,235,1)));

}
.navigationbar {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
  
.navigationbar  li {
  float: left;
}
  
.navigationbar  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.navigationbar  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: rgb(9, 196, 34);
  }

  .searchBar{
    position: fixed;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
  }
  #search{
      width: 700px;
      height: 25px;
      border-radius: 10px 0px 0px 10px;
      -moz-border-radius: 10px 0px 0px 10px;
      -webkit-border-radius: 10px 0px 0px 10px;
  }

  #searchForm{
    width: 750px;
    height: 31px;
  }

  #searchLogo{
      height: 25px;
      width: 15px;
      border-radius: 0px 10px 0px 10px;
      -moz-border-radius: 0px 10px 0px 10px;
      -webkit-border-radius: 0px 10px 0px 10px;
  }

/* Full-width input fields */
 input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login{
  height: 46px;
}

/* Set a style for all buttons */
#login {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  width: 40%;
}

button:hover {
  opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 25%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.search-box {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
 }
 
 .search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
 }
 
 .search-box:hover > .search-btn {
  background: white;
  color: black;
 }
 
 .search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
 }
 
 .search-btn > i {
  font-size: 30px;
 }
.searchResults{
  border: 15px solid white;
  padding: 20px;
  margin: 20px;
}

.results{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  list-style-type: none;
  overflow: hidden;
  background-color: #FFF;
}

.results li{ 
  float: center;
}

.results li a{ 
  float: top;
  border: 1px solid #FFF; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #FFF; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: rgba(40,173,230,1); /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}


img {
 max-width: 350px;
 max-height: 350px;
}


.results li a:hover:not(.header) {
  background-color: #FFF; /* Add a hover effect to all links, except for headers */
}