.popup {  
    position: fixed;  
    width: 50%;  
    height: 50%;  
    top: 25%;  
    left: 25%;  
    right: 25%;  
    bottom: 25%;  
    margin: auto;  
    background-color: #555;  
  }  
  .popup\_inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background: white;  
  }