html {
    background: rgba(40,173,230,1);
    background: -moz-linear-gradient(top, rgba(40,173,230,1) 40%, rgba(40,173,230,1) 41%, rgba(82,196,235,1) 93%, rgba(82,196,235,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(40%, rgba(40,173,230,1)), color-stop(41%, rgba(40,173,230,1)), color-stop(93%, rgba(82,196,235,1)), color-stop(100%, rgba(82,196,235,1)));

}

#profilePicArea{
    height: 300px;
    width: 500px;
}

.profilePic{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

#profileContainer{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    background:white;
    height: 500px;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  .userName {
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);

}

#userNameArea{
    height: 100px;
    width: 500px;
}
